
html{
    display:block;
}
.body {
    display: block;
    margin: 8px;
}

.loadgif { 
    width:25%;
    height:25%;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

div {
    font-family: monospace;
    font-size: 4.5vw;
    padding-top: 20vw;
    padding-left: 5vw;
}

@media only screen and (min-width:900px){

    html{
        display:block;
    }
    
    .body {
        display: block;
        margin: 8px;
    }
    
    .loadgif { 
        width:25%;
        height:25%;
    }
    
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
    }
    
    div {
        font-family: monospace;
        font-size: 2vw;
        padding-top: 20vw;
        padding-left: 5vw;
    }

}